.eggs/
**/dist/
dist/
**/argmax_gradio_components.egg-info/
*.pyc
__pycache__/
*.py[cod]
*$py.class
__tmp/*
*.pyi
.mypycache
.ruff_cache
node_modules
backend/**/templates/
src/argmax_gradio_components/**/backend/**/templates
.DS_Store